# Spotify
SPOTIFY_CLIENT_ID=<tu_client_id>
SPOTIFY_CLIENT_SECRET=<tu_client_secret>
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/v1/auth/callback

# Base de datos (Cloud SQL via proxy local en desarrollo)
DATABASE_URL=postgresql://<user>:<password>@127.0.0.1:5432/postgres

# App
APP_NAME=Spotify DWH API
APP_VERSION=1.0.0
SECRET_KEY=<clave_aleatoria_minimo_32_caracteres>
FRONTEND_URL=http://localhost:3000
